@use '/src/app/variable' as *;

.container {
    font-size: 14px;
    padding: 7px;
    cursor: pointer;
    color: var(--secondary-color);
    border-radius: 10px;
    transition: all 0.1s ease;
    background-color: white;

    @include mobile{
        margin-right: 25px;
    }

    &.active{
        background-color: var(--accent-color);
        color: var(--text-color-light);
    }
}